@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@400..900&display=swap');
@font-face {
  font-family: "Ignis-et-Glacies-Sharp-Bold";
  src: url(/static/font/Ignis-et-Glacies-Sharp-Bold.ttf.woff) format("woff"),
    url(/static/font/Ignis-et-Glacies-Sharp-Bold.ttf.svg#Ignis-et-Glacies-Sharp-Bold)
      format("svg"),
    url(/static/font/Ignis-et-Glacies-Sharp-Bold.ttf.eot),
    url(/static/font/Ignis-et-Glacies-Sharp-Bold.ttf.eot?#iefix)
      format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}


body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  height: 100vh;
  display: flex;
}

.left-panel {
  flex: 0 0 40%;
  background: linear-gradient(
      to bottom right,
      rgba(157, 249, 122, 0.8),
      rgba(94, 197, 255, 0.8)
    ),
    url("/static/image/background.jpg") center / cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px;
}

.left-panel img {
  width: 160px;
  margin-bottom: 20px;
}

.left-panel h1 {
  font-size: 50pt;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: "Ruda", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.left-panel p {
  font-size: 18pt;
  color: #0e0e0e;
}

.right-panel {
  flex: 1;
  background-color: #212121;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px;
}

.right-panel img {
  width: 100%;
  margin-bottom: 20px;
  background: linear-gradient(90deg, #04478c, #0455a9, #002143);
  align-self: flex-start;
  padding-left: 260pt;
}

.right-panel h2 {
  font-family: "Ignis-et-Glacies-Sharp-Bold", sans-serif;
  font-size: 25.3pt;
  margin-bottom: 40px;
}

.btn-custom {
  background-color: #1e76dd;
  color: white;
  border: none;
  padding: 12px 40px;
  margin: 10px 0;
  border-radius: 5px;
  font-size: 1rem;
  letter-spacing: 1px;
  transition: 0.3s;
}

.btn-custom:hover {
  background-color: #0056b3;
}

footer {
  position: absolute;
  bottom: 10px;
  font-size: 10pt;
  color: #3d3e3b;
  font-family: "Ruda", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

@media (max-width: 768px) {
  body {
    flex-direction: column;
  }

  .left-panel,
  .right-panel {
    flex: none;
    width: 100%;
    height: 50%;
  }
}
